body{
    height: 98%;
    background-image: url("../Images/fundo.png");
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    margin: 0px;
}

#top{
    border-bottom: 0.5vw solid;
    border-color: rgba(237, 17, 101);
    position: absolute;
    height: 37%;
    width: 100%;
}
h1{
    color: rgba(237, 17, 101);
    position: absolute;
    right: 71vw;
    top: 70%;
    font-size: 3vw; 
}
#ImgVoltar{
    height  : 40%;
    width   : 15%;
    position: absolute;
    left    : 0%;
    top     : 3%;
}
#ImgLogo{
    width   : 28%;
    height  : 83%;
    position: absolute;
    top     : 9%;
    left    : 36%;
}

#ImgMusic{
    width : 8%;
    height: 32%;
    position: absolute;
    right: 86%;
    top: 74%;  
}
#mid{
    position: absolute;
    left: 2vw;
    top: 55%;
    width: 96vw;
}
#mid img{
    width: 80%;
    height: 80%;
}